<!DOCTYPE html>
<html lang="en-us">
    <head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<style>
	 /* Variables
	    ================================== */
	 /* Tables
	    ================================== */
	 @import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,700);


	 .narrow {
	     display: none;
	 }

	 #image {
	     width: 100%;
	     height: 1000px;
	     background-image: url(<%=image_url('1000.png')%>); 
	     background-size: contain;
	     background-repeat: no-repeat;
	 }
	 /* Responsive
	    ==================================== */
	 @media all and (max-width: 600px) {
	     .narrow {
		 width: 100% !important;
	     }
	     .narrow {
		 display: block;
	     }
	     .broad {
		 display: none;
	     }
	     #image {
		 width: 100%;
		 height: 600px;
		 background-image: url(<%=image_url('250.png')%>);
		 background-size: contain;
		 background-repeat: no-repeat;
	     }
	 }
	 
	</style>
    </head>
    <body>
	<p class="broad">You screen width is more than 600 px.
	</p>
	<p class="narrow">You screen width is less than 600 px.
	</p>

	<div id="image"></div>
    </body>
</html>
