<!DOCTYPE html>
<html lang="en-us">
    <head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<style>
	 /* Variables
	    ================================== */
	 /* Tables
	    ================================== */
	 @import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,700);
	 .Rtable {
	     display: -webkit-box;
	     display: -webkit-flex;
	     display: -ms-flexbox;
	     display: flex;
	     -webkit-flex-wrap: wrap;
	     -ms-flex-wrap: wrap;
             flex-wrap: wrap;
	     margin: 0 0 3em 0;
	     padding: 0;
	     border-collapse: collapse;
	     border: 5px solid #157b08;
	 }
	 .Rtable-cell {
	     box-sizing: border-box;
	     -webkit-box-flex: 1;
	     -webkit-flex-grow: 1;
	     -ms-flex-positive: 1;
             flex-grow: 1;
	     width: 100%;
	     padding: 0.8em 1.2em;
	     overflow: hidden;
	     list-style: none;
	     background: rgba(112, 128, 144, 0.2);
	 }
	 /* Table column sizing
	    ================================== */
	 .Rtable--5cols > .Rtable-cell {
	     width: 20%;
	 }
	 /* Page styling
	    ================================== */
	 /* Apply styles
	    ================================== */
	 .Rtable {
	     position: relative;
	 }
	 .Rtable-cell {
	     background-color: white;
	 }
	 /* Cell styles
	    ================================== */
	 .Rtable-cell--head {
	 }
	 .Rtable-cell--foot {
	 }

	 .Rtable-cell > .label {
	     display: none;
	 }
	 .header {
	     border-bottom: 5px dashed #157b08;
	 }
	 .footer {
	     border-top: 5px dashed #157b08;
	 }
	 /* Responsive
	    ==================================== */
	 @media all and (max-width: 600px) {
	     .Rtable--collapse {
		 display: block;
	     }
	     .Rtable--collapse > .Rtable-cell {
		 width: 100% !important;
	     }
	     .Rtable--collapse > .Rtable-cell--foot {
		 margin-bottom: 1em;
	     }
	     .Rtable--collapse > .header {
		 display: none;
	     }
	     
	     .Rtable-cell > .label {
		 display: block;
	     }
	     .footer {
		 border-top: 0px;
	     }
	     .Rtable-cell--head {
		 background: #157b08;
	     }
	 }
	 .no-flexbox .Rtable {
	     display: block;
	 }
	 .no-flexbox .Rtable > .Rtable-cell {
	     width: 100%;
	 }
	 .no-flexbox .Rtable > .Rtable-cell--foot {
	     margin-bottom: 1em;
	 }

	 p {
	     font-size: 20pt;
	     }
	 
	</style>
    </head>
    <body>
	<p>
	    Current BTC Market Price:<br>
	    &#x243; = <span id="btc-usd"></span><br>
	    Updated <span id="timestamp"></span>
	</p>

	<div class="Rtable Rtable--5cols Rtable--collapse">
	    <div class="Rtable-cell Rtable-cell--head header">Level</div>
	    <div class="Rtable-cell header">Donation</div>
	    <div class="Rtable-cell header">People/ Level</div>
	    <div class="Rtable-cell header">BTC</div>
	    <div class="Rtable-cell Rtable-cell--foot header">In USD</div>
	    
	    <div class="Rtable-cell Rtable-cell--head"><span class="label">Level: </span>1</div>
	    <div class="Rtable-cell"><span class="label">Donation: </span>&#x243;0.05</div>
	    <div class="Rtable-cell"><span class="label">People/Level: </span>2</div>
	    <div class="Rtable-cell"><span class="label">BTC: </span>&#x243;<span class="btc1">0.10</span></div>
	    <div class="Rtable-cell Rtable-cell--foot"><span class="label">In USD: </span>$<span class="usd1"></span></div>
	    
	    <div class="Rtable-cell Rtable-cell--head"><span class="label">Level: </span>2</div>
	    <div class="Rtable-cell"><span class="label">Donation: </span>&#x243;0.05</div>
	    <div class="Rtable-cell"><span class="label">People/Level: </span>4</div>
	    <div class="Rtable-cell"><span class="label">BTC: </span>&#x243;<span class="btc2">0.20</span></div>
	    <div class="Rtable-cell Rtable-cell--foot"><span class="label">In USD: </span>$<span class="usd2"></span></div>
	    
	    <div class="Rtable-cell Rtable-cell--head"><span class="label">Level: </span>3</div>
	    <div class="Rtable-cell"><span class="label">Donation: </span>&#x243;0.10</div>
	    <div class="Rtable-cell"><span class="label">People/Level: </span>8</div>
	    <div class="Rtable-cell"><span class="label">BTC: </span>&#x243;<span class="btc3">0.80</span></div>
	    <div class="Rtable-cell Rtable-cell--foot"><span class="label">In USD: </span>$<span class="usd3"></span></div>
	    
	    <div class="Rtable-cell Rtable-cell--head"><span class="label">Level: </span>4</div>
	    <div class="Rtable-cell"><span class="label">Donation: </span>&#x243;0.20</div>
	    <div class="Rtable-cell"><span class="label">People/Level: </span>16</div>
	    <div class="Rtable-cell"><span class="label">BTC: </span>&#x243;<span class="btc4">3.20</span></div>
	    <div class="Rtable-cell Rtable-cell--foot"><span class="label">In USD: </span>$<span class="usd4"></span></div>
	    
	    <div class="Rtable-cell Rtable-cell--head"><span class="label">Level: </span>5</div>
	    <div class="Rtable-cell"><span class="label">Donation: </span>&#x243;0.50</div>
	    <div class="Rtable-cell"><span class="label">People/Level: </span>32</div>
	    <div class="Rtable-cell"><span class="label">BTC: </span>&#x243;<span class="btc5">16.00</span></div>
	    <div class="Rtable-cell Rtable-cell--foot"><span class="label">In USD: </span>$<span class="usd5"></span></div>
	    
	    <div class="Rtable-cell Rtable-cell--head"><span class="label">Level: </span>6</div>
	    <div class="Rtable-cell"><span class="label">Donation: </span>&#x243;1.00</div>
	    <div class="Rtable-cell"><span class="label">People/Level: </span>64</div>
	    <div class="Rtable-cell"><span class="label">BTC: </span>&#x243;<span class="btc6">64.00</span></div>
	    <div class="Rtable-cell Rtable-cell--foot"><span class="label">In USD: </span>$<span class="usd6"></span></div>
	    
	    <div class="Rtable-cell Rtable-cell--head footer">Total</div>
	    <div class="Rtable-cell footer"><span class="label">Donation: </span>&#x243;1.90</div>
	    <div class="Rtable-cell footer"><span class="label">People/Level: </span>126</div>
	    <div class="Rtable-cell footer"><span class="label">BTC: </span>&#x243;<span class="btc-total">84.30</span></div>
	    <div class="Rtable-cell Rtable-cell--foot footer"><span class="label">In USD: </span>$<span class="usd-total"></span></div>
	</div>
	
	<p>
	    That's right!<br>
	    The current income potential here is $<span class="usd-total"></span> per month!
	</p>
	<script>
	 // Load bitcoin value from KRAKEN
	 // Address: https://api.kraken.com/0/public/Ticker?pair=XBTUSD
	 // 
	 function update() {
	     $.ajax({url: "https://api.kraken.com/0/public/Ticker?pair=XBTUSD"
	     }).done(
		 // handle a successful response
		 function(data) {
		     update_values(data);
		 });

	     // handle a non-successful response

	     setTimeout(update, 30000);
	 };

	 function update_values(data) {
	     var value = data.result.XXBTZUSD.c["0"];
	     $('#btc-usd').html("$" + roundToTwo(value) + " USD");
	     var result = parseFloat($('.btc1').text()) * parseFloat(value);
	     $('.usd1').html(numberWithCommas(roundToTwo(result)));
	     var result = parseFloat($('.btc2').text()) * parseFloat(value);
	     $('.usd2').html(numberWithCommas(roundToTwo(result)));
	     var result = parseFloat($('.btc3').text()) * parseFloat(value);
	     $('.usd3').html(numberWithCommas(roundToTwo(result)));
	     var result = parseFloat($('.btc4').text()) * parseFloat(value);
	     $('.usd4').html(numberWithCommas(roundToTwo(result)));
	     var result = parseFloat($('.btc5').text()) * parseFloat(value);
	     $('.usd5').html(numberWithCommas(roundToTwo(result)));
	     var result = parseFloat($('.btc6').text()) * parseFloat(value);
	     $('.usd6').html(numberWithCommas(roundToTwo(result)));
	     var result = parseFloat($('.btc-total').text()) * parseFloat(value);
	     $('.usd-total').html(numberWithCommas(roundToTwo(result)));
	     var d = new Date();
	     $('#timestamp').html(d.toUTCString());
	 };

	 $(document).ready(function() {
	     update();
	 });

	 function roundToTwo(num) {    
	     return parseFloat(+(Math.round(num + "e+2")  + "e-2")).toFixed(2);
	 }

	 function numberWithCommas(x) {
	     return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
	 }
	</script>
    </body>
</html>
