<!DOCTYPE html>
<html lang="en-us">
    <head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    </head>
    <body>
	<p class="broad">You screen width is more than 700 px.
	</p>
	<p class="narrow">You screen width is less than 700 px.
	</p>
	
	<div id="image"></div>
    </body>
</html>
