<!DOCTYPE html>
<html lang="en-us">
    <head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<style>
	 /* Variables
	    ================================== */
	 /* Tables
	    ================================== */
	 @import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,700);

	 .narrow {
	     display: none;
	 }
	 /* Responsive
	    ==================================== */
	 @media all and (max-width: 600px) {
	     .narrow {
		 width: 100% !important;
	     }
	     .narrow {
		 display: block;
	     }
	     .broad {
		 display: none;
	     }
	 }
	 
	</style>
    </head>
    <body>
	<p class="broad">You screen width is more than 600 px.
	</p>
	<p class="narrow">You screen width is less than 600 px.
	</p>
	<img class="broad" src="1000.png" alt="broad image"/>
	<img class="narrow" src="250.png" alt="narrow image"/>
    </body>
</html>
